# Ignorar entorno virtual
venv/

# Ignorar archivos de configuración de IDEs
.vscode/
.idea/

# Ignorar archivos compilados de Python
*.pyc
__pycache__/

# Ignorar el archivo .env
.env

# Ignorar modelo .h5
models/